{% extends "base.html" %}

{% block wyliczenia %}
{% if typ %}
    <p class="error_message">{{punkty}}</p>

{% else %}

    <img id="rysunek" src="static/obraz_pogladowy.png">
    <table>
        <tr>
            <th>Punkt</th>
            <th>X</th>
            <th>Y</th>

        </tr>
        {% for x, y, ozn in punkty %}
        <tr>
            <td><b>{{ozn}}</b></td>
            <td>{{x}}</td>
            <td>{{y}}</td>

        </tr>
        {% endfor %}

    </table>

{% endif %}


{% endblock %}